@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Quản Lý Nhà Hàng</h1>
    <p class="lead">
        <h4>Nguyễn Lê Điền - 16110309</h4>
        <h4>Nguyễn Trường Tráng - 16110489</h4>
    </p>
</div>